<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>딥러닝을 활용한 자동 화음 합성기</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="container">
      <div style="margin-top: 50px; margin-bottom: 50px;">
        <h2 class="text-center">
          2020년 1학기 졸업프로젝트
        </h2>
        <h5 class="text-center">- 딥러닝을 활용한 자동 화음 합성기 Demo -</h5>
        <p class="text-right"></p>
      </div>
      <div>
        <form
          action="http://localhost:5000/uploader"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="custom-file" style="margin-bottom: 20px;">
            <input
              type="file"
              class="custom-file-input"
              name="file"
              id="file"
            />
            <label class="custom-file-label" for="file"
              >음성 파일 선택하기</label
            >
          </div>
          <div class="d-flex justify-content-center p-2">
            <input
              type="submit"
              style="width: 200px;"
              class="btn btn-primary"
            />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
